::-webkit-scrollbar {
    width: 7px;
    border-radius: 50%;

}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
    border-radius: 20px;
    
}
::-webkit-scrollbar-thumb {
    background: #b28756;
    height: 20px;
  
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-size:13px;
    overflow-x:hidden ;
}

header{
    height: 100px;
    background-color: black;
}

.header{
    max-width: 1140px;
    height: 100px;
    margin:auto;
    display: flex;
    align-items: center;
}

.logoimg{
    width: 80px;
    height: 80px;
    background-color: #CCC;
    border-radius: 50%;
}

.logo{
width: 100px;


}
.menu{
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li{
list-style: none;
}

.menu ul{
    display:flex;
}

.menu li a{
    color:white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left:10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid black;
   
}

.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid #b28756;
    color:#CCC;
}

.banner{
    background-color: #333;
    height: calc(100vh - 100px);
    background-image:url('../img/bg.jpg');
    background-size:cover;
    background-position:bottom;
    overflow: hidden;
}

.banner .sliders{
width: 300vw;
height: 100%;

display: flex;

}

.banner .slide{
 width: 100vw;
 height: 100%;
 background-color: rgba(0,0,0,0.8);

}


.banner .slidearea{
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    justify-content: center;
    flex-direction: column;
}
   
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
    justify-content: center;
}

.banner h1 span{
    color: #b28756;
}

.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}



.banner .sliders-pointers{
    width: 100vw;
    height: 20px;

    position:absolute;
    margin-top:-50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner .pointer{
    width: 15px;
    height: 15px;
    border:2px solid #b28756;
    margin: 0px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.banner .pointer.active{
    background-color: #b28756;
}

.default{
    padding-top:50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.default .section-title{
font-size: 20px;

}
.default .section-desc{
    font-size:12px;
    color:#CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-body{
  
    max-width: 1140px;
    margin: auto;
  
}

.default.light{
    background-color: #F7F7F7;
}

.default.light .section-title,
.default.light .section-body{
    color:black;
}



.default.dark{
    background-color: black;
}

.default.dark .section-title,
.default.dark .section-body{
    color:white;
}

.button{

    display: inline-block;
    padding:10px 30px;
    background-color: #b28756;
    color:white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px 20px;
    margin-top: 30px;
    

}

/* CSS ESPECÍFICOS*/


.section-aboutus{
display: flex;
}

.section-aboutus--left{
flex:1;

}
.section-aboutus--left p {
    line-height: 25px;
    font-size: 14px;
    font-weight: normal;

}
.section-aboutus--right{
    width: 520px;
    text-align: center;
    
    
}

.section-aboutus--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}




.section-services{
    display: flex;
  
}
.section-service{
    flex:1;
    text-align: center;
    border-right:1px solid #333 ;

 
    
}
.section-service:first-child{
    border-left: 1px solid #333;
}
.section-service h4{
    margin-top:20px;
    text-transform: uppercase;
    font-size: 18px;

}



.section-service p{
    margin-top:10px;
    font-size: 13px;
    color: #999;

}

.section-service:first-child img{
    margin-bottom: 9px;
}

.section-projects {
display: flex;
flex-direction: column;
align-items: center;
}

.section-projects--filters{
    border: 1px solid #CCC;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding:0px 15px;
  justify-content: center;
    
    
}
.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    padding:15px 15px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}

.section-projects--filters li:hover, .section-projects--filters .active{
    border-bottom: 3px solid #b28756;
}

.section-projects--filters li:first-child{
    border-left: 0;

}

.section-projects--photos{
    width: 100vw;
    max-width: 1140px; 
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
width: 280px;

}

.section-projects--photoarea{
    margin:10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo{

    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: inherit;
    height: inherit;
    
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFF; 
    flex-direction: column;
}

.section-projects--photoinfo h5{
    font-size: 20px;
    font-weight: 600;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
display: flex;
}


.bg-team{
    background-image: url('../img/bg.jpg');
background-size: cover;
background-position: center;
padding-top:0px;
padding-bottom: 0px;
}

.section-team-area{
    background-color: rgba(0,0,0,0.8);
    padding-top:50px;
    padding-bottom: 50px;

}



/*  2 carrosel */

.section-team{

    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders{
width: 300vw;
height: 100%;

display: flex;

}

.section-team .slide{
 width: 280px;
 height: 100%;
 display: inline-block;
 background-color: #fff;
 margin-right: 20px;
 min-height: 300px;
 border-radius: 50%;

}


.section-team-area .slidearea{
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    justify-content: center;
    flex-direction: column;
}


.section-team-area .sliders-pointers{
    margin-top: 30px;
    height: 20px;

 
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-team-area .pointer{
    width: 15px;
    height: 15px;
    border:2px solid #b28756;
    margin: 0px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.section-team-area .pointer.active{
    background-color: #b28756;
}